.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 227, 243);
  align-items: center;
  height: 100%;
  border-radius: 12px;
  padding: 100px 100px 100px 100px;
  width: 70%;
  
  
}
.container-image{
  
  background-color: aliceblue;
  border-radius: 150px;
  border-style: solid;
  
  
  
}
.button{
  padding-top: 6px;


}
.signup{
  padding-top: 10px;
}
.img{
  
  text-align: center;
  
}
 
 

 



