.logo {
	width: 100px;
}

.message {
	color: blue;
}

.message:hover {
	background-color: yellow;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(216, 218, 221);
  align-items: center;
  border-style: inset;
  border-radius: 12px;
  height: 100%;
  width: 30%;
  margin-left: 100px;
  
}

 
 

.flex-container > div {
  
  
  margin: 5px 5px 5px 5px;
  
  
  font-size: 20px;
}



